<div class="p-3 text-center bg-light">
  <h1>Form Generator POC | Gift Sefako </h1>
</div>

<div class="row p-3">
  <div class="col-3 p-3" style="border: gray 3px solid">
    <div>
      <form class="form" (ngSubmit)="triggerProcessing()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Initiator</mat-label>
          <input type="text" matInput [formControl]="initiator" placeholder="Initiator">
        </mat-form-field>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="initiator.value === ''">Trigger Processing</button>
        </div>
      </form>
    </div>
<div class="p-2"></div>
    <div>
      <table mat-table [dataSource]="unprocessedForms" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Unprocessed Files </th>
          <td mat-cell *matCellDef="let element"> {{element}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsUnprocessed"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUnprocessed;"></tr>
      </table>
    </div>
  </div>


  <div class="col-9">
    <table mat-table [dataSource]="processedForms" class="mat-elevation-z8">

      <ng-container matColumnDef="initiator">
        <th mat-header-cell *matHeaderCellDef> Initiator </th>
        <td mat-cell *matCellDef="let element"> {{element.initiator}} </td>
      </ng-container>

      <ng-container matColumnDef="csvFileName">
        <th mat-header-cell *matHeaderCellDef> CSV Filename </th>
        <td mat-cell *matCellDef="let element"> {{element.csvFileName}} </td>
      </ng-container>

      <ng-container matColumnDef="pdfFileName">
        <th mat-header-cell *matHeaderCellDef> PDF Filename </th>
        <td mat-cell *matCellDef="let element"> {{element.pdfFileName}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <button (click)="downloadPDF(element)" class="btn btn-primary">Download</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
